/*

Stylesheet for slidorion

 */
#slidorion {
	width: 768px;			/* Set to slidorion width. Is equal to #slider + #accordion width */
	width: 870px;
	height: 400px;			/* Set to slidorion height. Is equal to #slider and #accordion height */
	position: relative;
	left: 43%;
	margin-left: -384px;
	margin-top: 20px;
	padding: 10px;
	background: #20d0bc;
	border: 1px solid #bbb;
	-webkit-box-shadow: 0 0 34px #bbb;
	-moz-box-shadow: 0 0 34px #bbb;
	box-shadow: 0 0 34px #bbb;
}

#slider {
	width: 488px;			/* Set to slider width */
	width: 550px;
	height: 400px;			/* Set to slider height */
	position: relative;
	float: left;
	overflow: hidden;		/* Hides the animations */
}

.slider-image {
	position: relative;
}

#accordion {
	width: 280px;			/* Set to accordion width */
	width: 320px;
	height: 400px;			/* Set to image height */
	font-family: Verdana;
	background: #eee;
	-webkit-box-shadow: -3px 0px 3px -1px rgba(51,51,51,0.3);
	-moz-box-shadow: -3px 0px 3px -1px rgba(51,51,51,0.3);
	box-shadow: -3px 0px 3px -1px rgba(51,51,51,0.3);
	position: relative;
	z-index:999;
	float: left;
}

#accordion .header {
	height: 36px;
	color: #333;
	background: #ededed;
	background: -moz-linear-gradient(top, #e2f274 59%, #64e9f9 100%);
	background: -webkit-linear-gradient(top, #e2f274 59%,#64e9f9 100%);
	background: -o-linear-gradient(top, #e2f274 59%,#64e9f9 100%);
	background: -ms-linear-gradient(top, #e2f274 59%,#64e9f9 100%);
	background: linear-gradient(top, #e2f274 59%,#64e9f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f274', endColorstr='#64e9f9',GradientType=0 );
	border: none;
	border-top: 1px solid #ccc;
}

#accordion .header a {
	background: none;
	padding: 8px 14px;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	display: block;
}

#accordion .header a:hover {
	background: #20d0bc;
	cursor: pointer;
}

#accordion .header a.active {
	border-bottom: none;
	background-color: #0e564e !important;
	color: #20d0bc;
}

#accordion .content {
	height: 257px;			/* This height needs to be changed as it depends on the accordion height and number of tabs */
	font-weight: bold;
	font-size: 12px;
	margin: 0;
	padding: 16px;
	border: none;
	background: #61ea64;
	background: -moz-linear-gradient(top, #61ea64 0%, #ffffff 10%);
	background: -webkit-linear-gradient(top, #61ea64 0%,#ffffff 10%);
	background: -o-linear-gradient(top, #61ea64 0%,#ffffff 10%);
	background: -ms-linear-gradient(top, #61ea64 0%,#ffffff 10%);
	background: linear-gradient(top, #61ea64 0%,#ffffff 10%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61ea64', endColorstr='#ffffff',GradientType=0 );
	overflow:auto;
}

div#title {
	font-weight: normal;
}

div#description {
	font-weight: normal;
}

