body {
	height: 1200px;
}

#container {
	height: 1510px;
}

form {
	vertical-align: text-top;
}

#form {
	padding: 20px;
	padding-left: 150px;
	padding-top: 50px;
}

#comments {
	width: 400px;
	height: 150px;
}

#email, #institute, #name, #email2 {
	width: 400px;
}
#mandatory {
	color: red;
}
