#faq_menu {
/*	width:200px;*/
margin-right: 40px;
}

#faq_menu li{
	cursor: pointer;
/*	background:url(../images/accordion_bg.png) repeat-x;*/
/*	background: #94c5eb url(../images/arrows.png) no-repeat right top;*/
	background: #04c5eb;
	font-weight:bold;
	color:#015287;
	border:1px solid #b2b2b2;
	margin-bottom:2px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 4px 8px;
}

#faq_menu li.active{
	color:#D15600
}
#faq_menu li ul{
	padding:0;
/*	margin: 0 0 0;*/
	background-color:#fff;
}

#faq_menu .second {
/*	background: #94c5eb url(../images/arrows.png) no-repeat right top;*/
	background: #04c5eb;
	border:1px solid #b2b2b2;
	font-weight: bold;
}

#faq_menu li.active li{
	text-indent:0;
}
#faq_menu li li{
	font-weight: normal;
	background:none;
	border:0;
/*	border-bottom: 1px dashed black;*/
}
#answers {
	margin:40px;
	border: 1px solid red;
	height: 200px;
}

#accordion {
	margin: 20px;
	margin-top: 40px;
}

#accordion div h3 {
	background: #fff;
}

