/*********************
 * General Items
 *********************/
p {
	padding-bottom: 0px;
}
a {
	text-decoration: none;
}
a:link {
	color: black
}
a:visited {
	color: black
}
a:hover {
	color: red;
	text-decoration: underline;
}
a:active {
	color: black
}

/******************
 * page peel
 ******************/
#pageflip {
	position: relative;
}
#pageflip img {
	width: 50px; height: 52px;
	z-index: 99;
	position: absolute;
	right: 0; top: 0;
	-ms-interpolation-mode: bicubic;
}
#pageflip .msg_block {
	width: 50px; height: 50px;
	position: absolute;
	z-index: 50;
	right: 0; top: 0;
	background: url("../images/mini_iMars_s3.png") no-repeat right top;
	text-indent: -9999px;
}

/*********************
 * main document
 ********************/

body {
	margin:0px;
	text-align: center;
	background: #0e564e;
/*	background: #0e564e url("../images/side_background.png") no-repeat 50%; */
	background: #0e564e url("../images/side_background.png") no-repeat 50%; 
	margin: 0;
}
#container {
	width: 950px;
	height: 1100px;
	background-color: #fff;
/*	background-color: #8acecf; */
    background-color: #fdfde0 ;
	margin: 0px auto;
}
#header {
	height: 150px;
	background: #0e564e url("../images/background_menu.png") repeat-y scroll left top;
}
/* Create a shadow overlay */
#header div {
	width: 950px;
	height: 150px;
	background: transparent url("../images/mask_menu_background.png") no-repeat scroll left top;
}
#header h3 {
	padding-top:20px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	color: white;
}
#contact {
	float: right;
	text-align: right;
	padding-right: 20px;
	font-size: small;
	font-family: Arial, Verdana, sans-serif;

}
/**********************
 * Menu buttons
 **********************/

#nav-shadow {
	margin: 0 auto 30px auto;
	padding: 50px 0 0 127px;
	width: 900px;
	min-height: 150px;
	text-align: center;
/*	background: url("../images/page-shadow.jpg") top center no-repeat; */
	list-style: none;
}
#nav-shadow li {
	margin-right: 15px;
	margin-top: 60px; /*distance from top to buttons*/
/*	width: 81px; */ 
	width: 150px; 
	height: 85px;  /*distance between buttons and shadow*/
	position: relative;
	float: left;
}
#nav-shadow a, #nav-shadow a:visited, #nav-shadow a, #nav-shadow a:hover {
	margin: 0 auto;
/*	width: 59px; */
	width: 134px;
	height: 59px; 
	text-indent: -9999px;
	overflow: hidden;
	border:0;
	background: url("../images/icons.png") no-repeat;
	display: block;
	position: relative;
	z-index: 2;
}
/* Button Colors */

#nav-shadow li.button-color-1 a {
	/*background-position: -3px -3px;*/
	background-position: +3px -3px;
}
#nav-shadow li.button-color-2 a {
	/*background-position: -92px -3px; */
	background-position: -152px -3px;
}
#nav-shadow li.button-color-3 a {
	background-position: -307px -3px;
}
#nav-shadow li.button-color-4 a {
	background-position: -465px -3px;
}
/* Button Shadow */

#nav-shadow li img.shadow {
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

/*** showroom ***/
.showroom {
	float: left;
	clear: left;
	width: 950px;
	height: 499px;
	border-bottom: 0px solid #b1b1b3;
}
.viewport {
	float: left;
	padding-left: 2px;
	display: inline;
	position: relative;
	width: 950px;
}
.show_content {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 864px;
	height: 499px;
}
.showroom .on {
	display: block;
}
.show_content img {
	position: absolute;
	display: block;
	z-index: 1;
	top: 0;
	left: 0;
}

.show_content .txt_content {
	border:0px solid black;
	font-size:15px;
	left:21px;
	position:absolute;
	top:70px; 
	width:250px;
	z-index:2;
}
.show_content .txt_content p {
	padding-bottom: 2px;
	color: #7f6d38;
}
.show_content .txt_content p.large_txt {
	padding-bottom: 2px;
	color: black;
	font-family: Georgia, Arial, san-serif;
	font-size: 20px;
	font-style: italic;
	line-height: 20px;
}
.show_content .txt_content a {
	color: black;
	text-decoration: none;
}
.show_content .txt_content a:hover {
	text-decoration: underline;
}
/**************
 * line above showroom
 **************/
#hr {
	border-bottom: 2px red;	
/*	border-top:double red; */
	height:22px;
}	

#space {
	height:10px;
}

/*****************
 * kwick
 *****************/

.kwicks {
	/* recommended styles for kwicks ul container */
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.kwicks li{
	/*do not change these */
	display: block;
	overflow: hidden;
	padding: 0;  /* if you need padding, do so with an inner div (or implement your own box-model hack) */
}
.kwicks.horizontal li {
	/* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */
	margin-right: 5px; /*Set to same as spacing option. */	
	float: left;
}
.kwicks.vertical  li{
	/* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */
	margin-bottom: 5px; /*Set to same as spacing option. */	
}

#kwick_1 { 
	background-color: #53b388;
	border:ridge blue;
}
#kwick_2 {
	background-color: #5a69a9;
	border:ridge red;
}
#kwick_3 {
	background-color: #c26468;
	border:ridge blue;
}
#kwick_4 { 
	background-color: #bf7cc7;
	border:ridge red;
}

.kwicks.horizontal #kwick_4 {
	margin-right: 0; /* cancel margin on last kiwck (if you set a margin above) */
}

.kwicks.vertical #kwick_4 {
	margin-bottom: 0; /* cancel margin on last kiwck (if you set a margin above) */
}

.kwicks li {
	float: left;
	width: 233px;
	height: 300px;
	margin-right: 5px;
}

#hr {
	padding-top: 30px;
}

.article p {
	text-align:left;
	padding: 0px 20px;
}

h3 {
	color: black;
	text-align:left;
	padding-left: 20px;
}

h4 {
	color: red;
	text-align:left;
	padding-left: 20px;
}




