#showroom {
	height: 325px;
/*	border: 1px dashed blue;*/
	margin: 20px;
}

#showroom_left {
	height: inherit;
/*	border: 2px solid red;*/
	border-right: 0;
/*	background: url("../images/showroom_lamp_left.png") no-repeat top left;*/
}

#showroom_right {
	height: 100%;
	float: right;
	width: 250px;
/*	border: 2px solid green;*/
}

#showroom_right a {
	display: block;
	width:250px;
	height:50px;
	margin-left: 20px;
	margin-bottom:5px;
	margin-top: 2px;
	background-image: url('../images/showroom_without_arrow.png');
	background-repeat:no-repeat;
	background-position:left top;
}

#showroom_right a.showroom_hover {
	background-image: url("../images/showroom_with_arrow.png");
	margin-left: 0px;
}

#showroom_right a.showroom_not_hover {
	background-image: url("../images/showroom_without_arrow.png");
}

.showroom_text {
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
}

.iMars {
	background: url(../images/showroom_iMars_left.png) no-repeat left top;
}

.lamp {
	background: url(../images/showroom_lamp_left.png) no-repeat left top;
}
