#info {
	width: 481px;
	height: 485px;
	border: 1px solid #999;
	padding: 0px 10px;
	background-color: #fff;
	font-size: 0.8em;
}
#info p {
	width: inherit;
}
#info-nav {
	margin: 0;
	padding: 3px 0;
	width: 100%;
	list-style: none;
}#info-nav li {
	display: inline;
	background: #ccc;
	border: 1px solid #888;
	border-bottom: 0;
	margin-right: 2px;
	padding: 3px;
}
#info-nav li a:hover {
	color: #d15600;
}

#info-nav li.current {
	background: #fff;
	padding-bottom: 4px;
}
#celebs {
	clear: both;
}
#tab {
/*	position: absolute;*/  /*This uncommented made the mouseover of the 
    right bottom part failed */
	left: 30px;
	top: 10px;
	margin-left: 20px;
	margin-top: -450px}

#info-nav > li {
	width: 200px;
	padding: 0px 85px;
}

#info {
	margin-top: -20px;
}

div#intro{
	text-align:center;
}

#contain {
	font-size: 0.8em;
}

