#publications {
	padding-left: 30px;
}

div#publications td#logo {
	text-align: center;
}

div#publications table td {
	text-align:left;
	vertical-align: top;
}

span#title {
	font-size:1.2em;
	color: red;
	padding-left: 0;
}

span#subtitle {
	font-size:1em;
}

span#author {
/*	font-size:0.8em;*/
	color: blue;
}
div#publications table td#description {
	padding-left: 20px;
}

table {
	width: 95%;
}

div#publications td {
	border-bottom: solid 1px red;
}

#contact {
	left: -25px;
}
